header  {
    height: 100px;
    width: 100%;
    border-top: 10px solid darkblue;
    background-color: lightblue;
}

h1  {
    text-align: center;
}

ul  {
    text-align: right;

}

li  {
    display: inline;
    list-style-type: none;
    font-size: 40px;
}

img{
    display: block;
    margin: 0 auto;
}

section{
    text-align: center;
}

footer{
    text-align: center;
    
}